.detailTittle{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 40px;
    color: white;
}

.detailFlex{
    display: flex;
    justify-content: center;
}

.detailText{
    width: 500px;
    font-size: 1.5rem;
    margin-left: 40px;
    text-align: right;
    font-weight: 400;
    margin-bottom: 30px;
    color: crimson;
}

.detailImage{
    width: 150px;
}

.detailPrice{
    font-size: 2.5rem;
    margin-bottom: 30px;
    color:white;
}

.itemCount--margin{
    margin-top: 30px;
}
